/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-aosp-afb-parade {
	border: 1px dotted #f00;
	
}

.afb-editor{
	&.img-upload{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.img-preview{
	width: 10rem !important;
	height: 10rem !important;
	object-fit: cover;
	margin: auto;
	}
	& *{
		margin-top: 2em;
	}
}


