/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.parade-warn{
	background-color: lightyellow;
	border: 1px dotted black;
	padding: 5px;
}
